body{
    background-image: url('../assets/fondo.png');
    background-size: cover;
    background-position: center;
    margin: 0%;
}

header{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

#food{
    font-family: Arial, Helvetica, sans-serif;
}

#food h1{
    font-size: 50px;
    color: red;
    font-variant: small-caps;
}

#food h2{
    color: yellow;
}

#drink{
    font-family: Arial, Helvetica, sans-serif;
}

#drink h1{
    font-size: 50px;
    color: red;
    font-variant: small-caps;
}

#drink h2{
    color: yellow;
}

#promo{
    font-family: Arial, Helvetica, sans-serif;
}

#promo h1{
    font-size: 50px;
    color: blue;
    font-variant: small-caps;
}

#promo h2{
    color: yellow;
}

/*Para celular*/
@media (max-width: 600px) {
    header {
        font-size: 24px; /* Texto más pequeño para el título */
    }

    #food h1, #drink h1, #promo h1 {
        font-size: 32px; /* Reducimos el h1 para que no se corte */
        text-align: center;
    }

    #food h2, #drink h2, #promo h2 {
        font-size: 20px;
        text-align: center;
    }

    body {
        /* "contain" o "fixed" ayuda a que el fondo no se deforme en móviles */
        background-attachment: fixed; 
    }
}